FAIR_ONLINE_PORT=8080
FAIR_ONLINE_API_BASE_URL=/service/
FAIR_ONLINE_RESOURCE_BASE_URL=/resource
FAIR_ONLINE_IMAGE_TAG=latest
FAIR_ONLINE_WEB_IMAGE=ghcr.io/rj9676564/fair-online-web
FAIR_ONLINE_SERVICE_IMAGE=ghcr.io/rj9676564/fair-online-service
